{clean_files, ["test/*.beam"]}.

{deps, [
  {cowboy, "0.9.0",
    {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
  {erlydtl, "0.8.0",
    {git, "http://github.com/evanmiller/erlydtl.git", {tag, "0.8.0"}}}
]}.

{erl_opts, [
  warnings_as_errors
]}.

{erlydtl_opts, [
  {doc_root, "priv/templates"},
  {out_dir, "ebin"}
]}.